:root {
  --header-name: 3rem/1.25em var(--ff);
}

header {
  /* width: 100%; */
  position: relative;
}
header > .header {
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  color: white;
  height: 222px;
  clip-path: polygon(0 0, 110% 0, 110% 90%, 0 95%);
  filter: drop-shadow(1, 1, 1);
}
header .border {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 227px;
  background-color: var(--main-clr);
  top: 0;
  clip-path: polygon(0 0, 110% 0, 110% 90%, 0 95%);
}

header section {
  padding: 5px 40px;
}

.full-name {
  margin: 0;
  padding-top: 40px;
  height: max-content;
  font: var(--header-name);
  font-weight: 900;
  text-transform: uppercase;
  text-align: start;
  color: var(--main-clr);
  text-shadow: 0 0 333px var(--main-clr);
}

.full-name > div:first-of-type {
  margin-bottom: -23px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.right-side > div {
  display: flex;
  justify-content: end;
  align-items: center;
}
.right-side svg {
  width: 25px;
  margin: 0 10px;
  fill: rgb(212, 212, 212);
  filter: drop-shadow(0px 0px 4px rgba(139, 139, 139, 0.318));
}

.polygon {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: rgb(57, 57, 57);
  width: 100%;
  height: 100%;
  clip-path: polygon(62% 0, 100% 0, 100% 100%, 56% 100%);
}

.header::after {
  content: "";
  top: 0;
  right: 0;
  z-index: -1;
  position: absolute;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(22, 22, 22) 0%,
    rgb(0, 0, 0) 90.2%
  );
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.header::before {
  content: "";
  top: 0;
  right: 0;
  z-index: -1;
  position: absolute;
  background-image: url(../assets/cat-han-W_5Eakb1598-unsplash.jpg);
  background-size: 100%;
  filter: opacity(0.9) saturate(0);
  width: 100%;
  height: 100%;
}
/* Photo by <a href="https://unsplash.com/@figmentprints?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Cat Han</a> on <a href="https://unsplash.com/photos/black-textile-on-white-textile-W_5Eakb1598?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
