:root {
  --section-margin: 7px;
}

.cv-main {
  display: flex;
  color: var(--darker-text-clr);
}
.cv-main > aside {
  width: 33%;
}
h2 {
  font: var(--h2);
  color: var(--gray0);
}
.section-title {
  /* background-color: var(--main-clr); */
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 3px solid var(--main-clr);
  font: var(--h1);
  color: var(--main-clr);
}

.all-schools-container,
main.cv-main > main {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 10px;
}
.school-years {
  font: var(--p2);
  color: var(--gray30);
}
.all-schools-container h3 {
  padding-left: 6px;
}
.school-container,
.about-me-container > .about-me {
  margin: 4px 0 4px 0px;
}
.school-name {
  font: var(--p);
  color: var(--gray0);
}
.about-me-container > .about-me {
  border: none;
  font: var(--p);
}
main.cv-main > main {
  width: 66%;
}
