@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv {
  border: 4px solid var(--gray70);
  border-radius: 4px;
  width: 210mm;
  height: 297mm;
}

.edit-button {
  fill: var(--gray100);
  width: max-content;
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
  font: var(--h1);
  margin: 10px;
  color: var(--gray100);
  border: 2px solid var(--main-clr-darker);
  /* outline: none; */
  background-color: var(--main-clr);
}
.edit-button:hover,
.edit-button:focus {
  background-color: var(--main-clr-darker);
  border-color: var(--main-clr);
}
.edit-button svg {
  width: 30px;
}

@media print {
  .edit-button {
    display: none;
  }
  .cv {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
