@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.cv {
  /* width: 80vw; */
  border: 4px solid var(--gray30);
  border-radius: 5px;
  height: 1123px;
  aspect-ratio: 1/1.414;
}
